@using Homework_4_01_19.Models;
@model ViewModel


@if (Model.IncorrectPassword==true)
{

    if(Model.Image.text==null)
    {
        <h3>Please put in a password</h3>
    }
    else 
    {
        <h3>invalid password, please try again</h3>
    }

    <div class="row">
        <div class="col-md-6 col-md-offset-3 container">
            <form method="post" action="/home/enterpassword" enctype="multipart/form-data">
                <br />
                <input type="hidden" name="id" value="@Model.Image.id" />
                <input type="text" name="text" placeholder="Password" />
                <br />
                <button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
}

else
{
    <img src="/UploadedImages/@Model.Image.FileName" style="width:350px" />
    <h2>@Model.Image.Count</h2>        
}